/*сброс всех стилей браузеров */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.promo {
  background-image: url(../img/main_bg.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  min-height: 800px;
  text-align: center;
  padding: 38px 0;
}

.logo {
  margin-bottom: 53px;
}

.logo span {
  display: block;
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  margin-top: 10px;
}

.title_one {
  font-size: 41px;
  font-weight: 900;
  color: #f9bf3b;
  text-transform: uppercase;
}

.title_two {
  font-size: 80px;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
}

.promo p {
  font-size: 21px;
  font-weight: 300;
  color: #fff;
  margin-top: 22px;
}

.promo p strong {
  color: #f9bf3b;
}

.btn {
  background: linear-gradient(0deg, #2798b9 0%, #3ab6da 100%);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  width: 313px;
  height: 72px;
  border: 0;
  margin-top: 72px;
  font-size: 19px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  font-family: 'Roboto Condensed', sans-serif;
}

.intensive {
  background-color: #efefef;
  /* height: 603px; */
  padding: 88px 0 75px;
  text-align: center;
}

.intensive h2 {
  font-size: 30px;
  font-weight: 400;
  color: #252525;
  text-transform: uppercase;
}

.intensive h3 {
  font-size: 23px;
  font-weight: 400;
  color: #4a4a4a;
}

.line {
  width: 220px;
  height: 4px;
  background-color: #f9bf3b;
  display: block;
  margin: 18px auto;
}

.intensive_box {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
}

.intensive_item {
  width: 342px;
}

.intensive_item p {
  margin-top: 28px;
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;
}

.about {
  padding: 108px 0 74px;
  background: url('../img/woman_bg.png') no-repeat left bottom;
}

.about_content {
  padding-left: 388px;
}

.about_content h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 900;
  text-transform: uppercase;
  color: #299cbd;
  margin-bottom: 25px;
}

.about_content p {
  font-weight: 300;
  font-size: 17px;
  line-height: 27px;
  color: #4a4a4a;
  margin-bottom: 20px;
}

.skills {
  background: url(../img/second_bg.jpg) no-repeat center top / cover;
  height: 447px;
  text-align: center;
  padding: 86px 0 68px;
  color: white;
}

.skills_box {
  display: flex;
  justify-content: center;
}

.skills_item {
  width: 220px;
}

.skills_img {
  width: 118px;
  height: 118px;
  background: #b4e2ff;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills_item p {
  color: #fff;
}

.gift {
  background: #efefef;
  padding: 85px 0 87px;
  text-align: center;
}

.gift_img {
  margin-bottom: 25px;
}

.gift_text {
  font-weight: 400;
  font-size: 30px;
  line-height: 43px;
}

.footer {
  background: #1a1a1a;
  padding: 50px 0;
  text-align: center;
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;
  color: #888888;
}

.footer_links {
  margin-top: 10px;
}

.footer_links a {
  color: #888;
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;
}
